# Python-spezifische Dateien/Ordner
__pycache__/
*.pyc
*.ipynb_checkpoints/
.mypy_cache/

# Virtuelle Umgebungen
venv/
.venv/
env/

# Umgebungsvariablen-Datei 
.env

# Spezifische IDE-Dateien 
.vscode/
.idea/

# Uploads 
backend/uploaded_pdfs/

backend/chroma_db_data/
backend/extracted_jsons/
