/* complete styling applied on the card  */

/*  adjustment of whole element itself */
.card {
  position: absolute;
  bottom: 0;
  background-color: rgb(248, 247, 243);
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(124, 195, 236, 0.1);
  width: clamp(15rem, 20vw, 30rem);
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  overflow: hidden; /* verhindert Bildüberlauf */
  box-sizing: border-box;
  z-index: 0;
  animation: rocketMove 12s linear infinite; /* Animation for moving up */
}

/* definition of animation */
@keyframes rocketMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh); /* Fliegt aus dem Bildschirm */
  }
}

/* scaling etc. for the image */
.card img {
  width: 100%;         
  height: auto;        
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}

/* customize h2 Element */
.card h2 {
  font-size: clamp(1.1rem, 0.9vw, 1.3rem);
  font-family: Arial, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  text-align: center;
}

 
/* customize sentence shown as p tag */
.card p {
  font-family: Arial, sans-serif;
  font-size: clamp(0.7rem, 0.8vw, 1rem);
  text-align: center;
  color: #333;
  margin: 0.1em ;
}

/* styling ofchild created in the homepage.js, contains the names*/
.card .names {
  font-family: Arial, sans-serif;
  font-size: clamp(0.7rem, 0.8vw, 1rem);
  display: inline-block;
  margin-top: 0.1em;
  padding-bottom: 3px;
}