/* src/ChatPage.css */

.chat-main {
  display: flex;
  height: calc(100vh - 130px);
}

.pdf-viewer {
  flex: 1.3;
  min-width: 300px;
  max-width: 44%;
  overflow: auto;
  border-right: 2px solid #ccc;
  margin: 0;
}

.chat-container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#h1 {
  color: #e9e5e5;
  font-size: 240px;
  margin-bottom: 20px;
}

.back-button {
  color: #333;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  
  border: none;
  border-radius: 5px;
  background-color: rgb(248, 247, 243);

  /* Responsive Verhalten */
  display: inline-block;          
  max-width: 100%;               
  white-space: nowrap;           
  overflow: hidden;             
  text-overflow: ellipsis;      

  margin-left: 20px;
  margin-right: 5.5vh;
  margin-bottom: 7px;
  margin-top: 0;
}
.back-button:hover {
  background-color: #689bd1;
}
.chat-window {
  font-family: arial, sans-serif;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f8f8;
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 210px); /* Adjust height to fit header and input area */
}
.chat-window h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
  margin-left: -20px;  
  margin-right: -20px;

}

.message {
  margin-bottom: 15px;
  display: flex;
}

.message p {
  padding: 10px 15px;
  border-radius: 18px;
  max-width: 70%;
  margin: 0;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word; 

  white-space: pre-wrap; 
}

.message.user {
  justify-content: flex-end;
}

.message.user p {
  background-color: #689bd19f;
  color: #333;
  border-bottom-right-radius: 4px;
}

.message.bot {
  justify-content: flex-start;
}

.message.bot p {
  background-color: #3333333d;
  color: #333;
  border-bottom-left-radius: 4px;
}

.chat-input-area {

  display: flex;
  padding: 15px;
  width: 92%;
  margin: 0 auto;
  height: 80px;
}

.chat-input-area input {
  flex-grow: 1;
  font-size: 16px;
  font-family:arial,sans-serif;
  padding: 10px;
  border: 2px solid #33333393;
  border-radius: 20px;
  margin-right: 15px;
  
}
.chat-input-area input:focus {
  outline: none; 
  border: 3.5px solid #689bd1; 
}

.chat-input-area button {
  padding: 10px 30px;
  text-align: center;
  font-weight:bold;
  font-size: 15px;
  font-family:arial,sans-serif;
  border: none;
  background-color: #333;
  color: rgb(248, 247, 243);
  border-radius: 30px;
  cursor: pointer;
  margin-left: 5px;
}

.chat-input-area button:hover {
  background-color: #689bd1;
}





