/* src/HomePage.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  width: 100%;
  min-height: calc(100vh - 180px); /* Beispiel: calc(100vh - 150px); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url('../assets/background.jpg'); /* Wenn Bild im public Ordner liegt */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.content-box {
  padding-top: 135px;
  text-align: center;
  
  background-color: #333;
  border-radius: 12px;
  box-shadow:
    0 -12px 32px 10px rgba(209, 15, 15, 0.205), /* Scharfe Umrandung */
    0 12px 32px 10px rgba(230, 225, 225, 0.4);
  width: 500px;
  height: 500px;
  position: relative; /* Position muss gesetzt sein, damit z-index greift */
  z-index: 1;
}

.content-box h1 {
  font-family: arial,sans-serif;
  color: rgb(248, 247, 243);
  margin-bottom: 15px;
}

.content-box p {
  font-family: arial,sans-serif;
  color: rgb(248, 247, 243);
  margin-bottom: 70px;
  margin-top: 25px;
  font-size: 23px;
  line-height: 1.6;
}

.upload-button {
  background-color: rgb(248, 247, 243);
  color: #333;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-family:arial,sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #689bd1;
}
